.todo-container{
    margin-top: 6%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    /* background-color: #DFDFDE; */
    margin-left: 20%;
    margin-right: 20%;
    background-color: #B8FFF9;
    padding: 4%;
    border-radius: 10px;
    /* justify-content: flex-start; */
}
@media only screen and (max-width:425px){
    .todo-container{
        margin-left: 4%;
        margin-right: 4%;
    }
}
h1{
    /* background-color: #42C2FF; */
    color: #42C2FF;
    margin-top: 2px;
    margin-bottom: 6px;
    font-size: 1.5em;
}